@model Yazilimpark.Models.WeatherViewModel
@{
    ViewData["Title"] = "City";
}
<head>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="~/css/weather.css" />
    <script src="https://kit.fontawesome.com/d764eb5db4.js" crossorigin="anonymous"></script>

</head>
<form method="get">
    <button asp-controller="Home" asp-action="SearchByCity" class="btn btn-primary">Back</button>
</form>
<div class="container">
    <div id="city">
        <div class="place info">@Model.SearchCity.Name</div>
        <small class="date info">Nem:@Model.SearchCity.Humidity%</small>
        <div class="temp info">Sıcaklık:@Model.SearchCity.Temperature°</div>
        <div class="condition info">@Model.SearchCity.Weather</div>
    </div>
    
    @foreach (var city in Model.CenterCities)
    {
        <div id="@city.Name.ToLowerInvariant()">
            <div class="place info">@city.Name</div>
            <small class="date info">Nem:@city.Humidity%</small>
            <div class="temp info">Sıcaklık:@city.Temperature°</div>
            <div class="condition info">@city.Weather</div>
        </div>
    }

</div>

