@*@model Yazilimpark.Models.City
@{
    ViewData["Title"] = "City";
}

<div class="container">
    <div class="container">
        <div class="form-group col-md-offset-3 col-md-5">
            <label asp-for="Name"></label>
            <span class="badge alert-primary">@Model.Name</span><br />
            <label asp-for="Temperature"></label>
            <span class="badge alert-primary">@Model.Temperature°</span><br />
            <label asp-for="Humidity"></label>
            <span class="badge alert-primary">@Model.Humidity</span><br />
            <label asp-for="Weather"></label>
            <span class="badge alert-primary">@Model.Weather</span><br />
        </div>

    </div>
</div>
  

<div class="container">
    <div class="weather-card-container">
        <div class="weather-header">The Weather App</div>
        <div class="weather-input-container">
            <input id="city-input" class="weather-input" type="text" >
            <div id="search-button" class="weather-input-icon">
                <i class="fa fa-search"></i>
            </div>
        </div>
        <div class="weather-card">
            <div id="weather-city" class="city-name-container">Sakarya Province</div>
            <div class="temprature-container"><span id="weather-temprature">0</span>°C</div>
            <div id="weather-description" class="weather-info">Overcast Clouds</div>
            <div class="weather-body">
                <div class="weather-info-detail">
                    <ul>
                        <li><i class="fa fa-battery"></i> <span id="wind"> 1.85</span> m/s</li>
                        <li><i class="fa fa-address-book" style="margin-right: 5px"></i><span id="humidity">71</span>%</li>
                        <li><i class="fa fa-twitter"></i> <span id="sunrise"> 6:48:11</span></li>
                    </ul>
                </div>
                <div class="weather-image">
                    <img height="100" width="100" src="https://user-images.githubusercontent.com/12670730/113008567-6ebdcb80-9177-11eb-91bd-6863196d9cd3.png">
                </div>
            </div>
        </div>
    </div>
    
    <div class="center-city-weather-container">
        
        @foreach (var city in Model)
        {
            <div class="center-city-card">
                <div class="center-city-name-container">@city.Name</div>
                <div class="temprature-container" style="color: black;">@((int)city.Temperature)°C</div>
                <div class="weather-info">@city.Weather</div>
                <div class="weather-body">
                    <div class="weather-info-detail">
                        <ul>
                            <li class="text-black"><i class="fa fa-battery"></i> @city.Wind m/s</li>
                            <li class="text-black"><i class="fa fa-address-book"></i> @city.Humidity%</li>
                            <li class="text-black"><i class="fa fa-twitter"></i> @city.Pressure</li>
                        </ul>
                    </div>
                    <div class="weather-image">
                        <img alt="icon" height="100" width="100" src="https://user-images.githubusercontent.com/12670730/113008567-6ebdcb80-9177-11eb-91bd-6863196d9cd3.png">
                    </div>
                </div>
            </div>
        }
        
    </div>
</div>


@section Styles {
    <link rel="stylesheet" href="~/css/hava-durumu.css"/>
}

<script>
const fetchWeatherData = async (cityName) => {
    const value = document.getElementById('city-input').value; 
    const res = await fetch(`/weather/${value}`);
    const body = await res.json();
    
    return { success: res.status === 200, data: body };
}
const handleSearch = async () => {
    const value = document.getElementById('city-input').value;
    
    const response = await fetchWeatherData(value);
    
    if (!response.success){
        Swal.fire({
          title: 'Error!',
          text: response.data.Error,
          icon: 'error',
          confirmButtonText: 'OK'
        });
        return;
    }
    
    // set the values from response
    document.getElementById("weather-city").innerText = response.data.city
    document.getElementById("weather-temprature").innerText = response.data.temperature
    document.getElementById("weather-description").innerText = response.data.weatherDescription
    document.getElementById("wind").innerText = response.data.windSpeed
    document.getElementById("humidity").innerText = response.data.humidity
    document.getElementById("sunrise").innerText = response.data.sunrise
    
}
const button = document.getElementById('search-button');
button.addEventListener('click', handleSearch);
</script>
*@